<h4>view teacher data</h4>

<table>
    <tr>
    
    <th class="header_color">Teacher_id</th>
    <th class="header_color">Teacher Name</th>
    
  </tr>
  <tr>
   
    <td> {{paramValue.teacher_id}}</td>
    <td>  {{paramValue.teachername}} </td>
        <!-- <h1 style="color: green;" *ngIf="paramValue.isActive">Active</h1>
        <h1 style="color: red;" *ngIf="!paramValue.isActive">Inactive</h1></td> -->
    <!-- <td>  {{paramValue.isActive}}</td> -->
   
  </tr>
  </table>


<button [routerLink]="['/teacher']">Back</button>
