<div class="home_img">
    <div class="head-title">
  <!-- <button style="	cursor: pointer;" [routerLink]="['/add_student']">ADD</button> -->
  <button [routerLink]="['/studentlogin']">Student Login</button>
  <!-- <button [routerLink]="['/teacherlogin']">Teacher Login</button> -->
  <button [routerLink]="['/signup']">Sign Up</button>
  <!-- <button style="	cursor: pointer;" [routerLink]="['/user']">Student</button> -->
  <!-- <button style="	cursor: pointer;" [routerLink]="['/student_login']">Student Login</button> -->
  <!-- <button style="	cursor: pointer;" [routerLink]="['/teacher']">Teacher</button> -->
  </div>
  </div>