<div class="container">
    <aside> 
        <!-- <router-outlet></router-outlet> -->
        <!-- [routerLink]="['profile']" -->
        <button (click)="profile()">View Profile</button>
        <button (click)="mark()">View Mark</button>

       <!---<router-outlet></router-outlet>
        <h3 (click)="mark()">View Mark</h3> -->
        <!-- <app-profile></app-profile> -->
    </aside>

    <!-- <p class="aside-p">
        <ng-container *ngIf="flag">

            <div>lalafjfaj</div>
             <app-profile></app-profile>
        </ng-container>
        
    </p> -->
</div>