aside {
    // flex: 1;
    height: 100vh;
    width: 125px;
    background-color: lightgray;
    padding: 20px;
}

.aside-p {
    // flex: 1;
    padding: 20px;
    // background-color: lightblue;
}


.container {
    display: flex;
    justify-content: center;
    margin-top: -35rem;
}
